<%- include('header.ejs') %>

<div class="container">

  <p>User ID: <%= session.userId %></p>

  <p>Ejemplo de inyección de código <%= nombre %></p>

  <h2><%= __('Conditionals') %></h2>
  <p>El segundo actual es: <%= segundoActual %></p>
  <% if (esPar) { %>
    <p><%= __('Current second is even') %></p>
  <% } else { %>
    <p>El segundo actual es impar.</p>
  <% } %>

  <% // contenido para usuarios NO logados %>
  <% if (!session.userId) { %>
    <p>Para ver el contenido debes hacer <a href="/login">login</a></p>
  <% } %>

  <% // contenido para usuarios logados %>
  <% if (session.userId) { %>
    <h2>Bucles</h2>
    <% agents.forEach(agent => { %>
      <p>
        <img
          src="<%= agent.avatar ? `/avatars/${agent.avatar}` : 'https://placehold.co/50' %>"
          alt="avatar"
          width="50"
        >
        <%= agent.name %> tiene <%= agent.age %> años.
        <a href="/agents/delete/<%= agent.id %>"><i class="bi bi-trash"></i></a>
      </p>
    <% }) %>
  <% } %>


</div>

<%- include('footer.ejs') %>