<%- include('./partials/header'); %>

<div class="container">

  <% // contenido para usuarios NO logados %>
  <% if (!session.userId) { %>
    <p>Para ver el contenido debe hacer <a href="/login">login</a></p>
  <% } %>

  <% // contenido para usuarios logados %>
  <% if (session.userId) { %>
    <h1>My Products</h1>

    <table class="table table-hover">
      <thead><tr>
        <th>Name</th>
        <th style="text-align: right">Price</th>
        <th>Image</th>
        <th>Tags</th>
        <th>Actions</th>
      </tr></thead>
      <tbody>
      <% products.forEach(product => { %>
        <tr>
          <td><%= product.name %></td>
          <td style="text-align: right"><%= product.price / 100 %>€</td>
          <td><img src="images/products/<%= product.image %>"></td>
          <td><%= product.tags.join(', ') %></td>
          <td><a
            onclick="confirmDelete('<%= product.name %>', '<%= product._id %>')"
            href="javascript:void(0);">
                <i class="bi bi-trash"></i>
        </a></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
    <p>
      total <%= totalCount %> products.
    </p>
    <p>
      <!-- prev page -->
      <% if (skipPrev >= 0) { %>
        <a href="?limit=<%= pageSize %>&skip=<%= skipPrev %>">prev</a>
      <% } else { %>
        <span style="color: lightgray;">prev</span>
      <% } %>

      <!-- next page -->
      <% if (skipNext < totalCount) { %>
        <a href="?limit=<%= pageSize %>&skip=<%= skipNext %>">next</a>
      <% } else { %>
        <span style="color: lightgray;">next</span>
      <% } %>
    </p>
  <% } %>
</div>

<script>
  function confirmDelete(name, productId) {
      if (confirm(`Estas seguro que quieres eliminar el producto ${name}?`)) {
          window.location.href = `/products/delete/${productId}`;
      }
  }
</script>

<style>
  table {
    min-height: 300px;;
  }
  table tr td img {
    max-height: 20px;
  }
</style>

<%- include('./partials/footer'); %>